@font-face {
    font-family: "greek";
    src: url(../fonts/GFSNeohellenic-Regular.ttf);
  }
  @font-face {
    font-family: "greek2_fnt";
    src: url(../fonts/EBGaramond-Regular.ttf);
  }
  @font-face {
    font-family: "greek2B_fnt";
    src: url(../fonts/EBGaramond-Bold.ttf);
  }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  
